:root {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

#microblog {
	max-width: 500px;
	height: auto;
	margin: 0 auto;
}

#header .profilePic {
	height: 1rem;
	width: 1rem;
}